#root {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

.container {
  position: relative;
  display: flex;
  gap: 6rem;
  color: #222222;
  font-size: 16px;
}

.articleCard {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 10, 0);
  color: #333;
  font-size: 15px;
}

.titleLink {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.titleLink:hover {
  color: #555;
}

.headingLink {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.headingLink:hover {
  color: #000000;
}

.topics {
  color: #1c1c1c;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
}

.topics:hover {
  color: #605858;
}

.articleListImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.articleImage {
  display: flexbox;
}

.articleCardTopic {
  color: #777;
  font-size: 15px;
}

.vote {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0.5rem;
}

.commentCard {
  border-top: solid #000000 0.1px;
  padding-top: 30px;
}

.comment {
  font-size: smaller;
}

.commentsContainer {
  position: relative;
  display: flexbox;
  color: #222222;
  font-size: 16px;
}

.articleContainer {
  position: relative;
  display: flexbox;
  padding: 1rem;
  color: #222222;
  font-size: 16px;
}

.commentForm {
  display: flex;
  flex-direction: column;
  max-width: 33rem;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ede7e7;
}

.inputComment,
.inputName,
.submit {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 20px;
  width: 30rem;
  align-self: center;
}

.inputComment {
  min-height: 5rem;
  max-height: 19rem;
  resize: vertical;
}

.submit {
  width: 10rem;
}

.buttonLikeHighlighted {
  background-color: #07f10e;
  color: white;
}

.buttonDislikeHighlighted {
  background-color: #dd9174;
  color: white;
}

.buttonNotHighlighted {
  background-color: #ffffff;
}
