#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  color: #000000;
  font-size: 20px;
}

.articleCard {
  position: relative;
  display: flexbox;
  color: #000000;
  background-color: #efefef;
  font-size: 15px;
}

.articleCardTopic {
  color: rgb(190, 167, 119);
}

.vote {
  background-color: #efefef;
}
